@import url("https://fonts.googleapis.com/css?family=Miriam+Libre:200,300,400");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
@import url(../bootstrap/css/bootstrap.css);
.title {
  text-align: center;
  /*margin-left: $single-column-width * 1.5;*/ }

.container {
  padding-left: 15px;
  padding-right: 15px; }

body {
  margin: 0;
  padding-top: 10px;
  background-image: url("../assets/asset2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: 200;
  color: #525252;
  text-align: center; }

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  color: #444444;
  font-weight: 300; }

h4 {
  font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 10px 0 60px 0;
  color: #aeaeae;
  text-align: center; }

.divisor h6 {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #dee0df;
  line-height: 0.2em;
  margin: 60px 0; }
  .divisor h6 span {
    font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding: 0 10px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f4645f;
    background-color: white; }

container {
  padding: 20px 0; }

nav {
  height: 80px;
  width: 100%;
  font-size: 16px;
  align-items: center;
  line-height: 80px;
  font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  border-bottom: 1px solid #dee0df; }
  nav .logo {
    /*width: $single-column-width * 1.5;*/
    max-width: 180px;
    min-width: 150px;
    text-align: center;
    border-right: 1px solid #dee0df;
    font-size: 18px;
    color: #e74430;
    float: left;
    padding: 0;
    position: relative;
    display: inline; }
    nav .logo h1 {
      font-size: 18px;
      vertical-align: middle;
      text-align: start;
      display: inline; }
    nav .logo svg {
      height: 32px;
      width: 48px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline; }
    @media screen and (max-width: 660px) {
      nav .logo {
        min-width: 90px; }
        nav .logo h1 {
          display: none; } }
  nav .search {
    padding: 0;
    position: relative;
    display: inline;
    /*float: left;*/
    border-right: 1px solid #dee0df; }
    nav .search input {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      line-height: 78px;
      padding: 0 30px; }
      nav .search input:focus {
        outline: none; }
    nav .search svg {
      margin: 0 15px; }
      @media screen and (max-width: 1200px) {
        nav .search svg {
          display: none; } }
    @media screen and (min-width: 960px) {
      nav .search {
        /*margin: 0;*/ } }
    @media screen and (max-width: 960px) {
      nav .search {
        width: auto; }
        nav .search .navbar-toggle {
          display: inline; } }

.no-padding {
  float: right;
  padding: 0; }

.navigation {
  max-width: 745px;
  min-width: 671px;
  height: 100%; }
  @media screen and (max-width: 960px) {
    .navigation {
      display: none; } }

.navbar-toggle {
  background-color: #f4645f; }
  .navbar-toggle:hover {
    background-color: #e74430; }
  .navbar-toggle .icon-bar {
    background-color: white; }

.navbar-nav {
  /*width: 100%;*/
  list-style: none;
  padding: 0;
  height: 100%;
  /*.navbar-right {
    /*height: 100%;*/ }
  .navbar-nav li {
    height: 100%;
    /*display: inline;*/
    margin: 0 1.5%;
    /*align-items: center;
    /*padding: 0 1.5%;*/ }
    .navbar-nav li a {
      height: 100%;
      font-size: 15px;
      color: #525252;
      /*text-align: left;*/
      display: inline;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      vertical-align: middle;
      padding: 28px 10px; }
      .navbar-nav li a:hover, .navbar-nav li a:visited, .navbar-nav li a:active, .navbar-nav li a:focus {
        color: #f4645f;
        background-color: transparent; }
      .navbar-nav li a:hover {
        border-bottom: 3px solid #f4645f; }
  @media screen and (max-width: 1050px) {
    .navbar-nav .navbar-collapse {
      padding: 0; }
      .navbar-nav .navbar-collapse li a {
        font-size: 14px; } }

.open a, .open a:focus {
  color: #f4645f;
  background-color: transparent;
  .
    border-bottom: 3px solid #f4645f; }

.dropdown-menu {
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-size: 14px;
  padding: 5px 1px; }
  .dropdown-menu ul li {
    list-style: none;
    line-height: normal;
    margin: 0; }
    .dropdown-menu ul li a {
      clear: both;
      font-weight: 400;
      color: #333;
      margin: 0;
      padding: 3px 20px; }
      .dropdown-menu ul li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        border: none; }

#hero {
  padding: 60px 0;
  text-align: left; }
  #hero .container {
    max-width: 1080px; }
  #hero h2 {
    margin: 32px 0; }
  #hero .window .col-xs-12 {
    overflow: hidden;
    margin: 0 40px; }
  #hero .window img {
    display: block;
    /*margin: 0 20px;*/ }
    @media screen and (min-width: 805px) {
      #hero .window img {
        display: none; } }
  #hero .macbook img {
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 805px) {
      #hero .macbook img {
        display: none; } }
  #hero .macbook pre {
    /*z-index: -2;*/
    position: absolute;
    overflow: hidden;
    height: 310px; }
    #hero .macbook pre code {
      font-size: 13px; }
  #hero .macbook svg {
    background-color: transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    @media screen and (max-width: 805px) {
      #hero .macbook svg {
        display: none; } }

#features {
  padding-bottom: 60px; }
  #features .feature {
    margin: 0 11px 30px;
    padding: 15px 30px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    /*display: ;*/
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #444444; }
    #features .feature:hover {
      border: 2px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 7px 0; }
    @media screen and (max-width: 800px) {
      #features .feature {
        width: auto; } }
    @media screen and (min-width: 800px) {
      #features .feature {
        width: 30.33333%; } }
    #features .feature .feature-head {
      font-size: 18px;
      display: inline;
      padding: 0;
      margin: 0; }
      #features .feature .feature-head .col-sm-2 {
        padding: 0; }
      #features .feature .feature-head h3 {
        max-width: 81%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        padding-top: 10px; }
      #features .feature .feature-head svg {
        float: right; }
    #features .feature .feature-body {
      line-height: 27.2px;
      padding: 0;
      margin: 0; }

#primary-content {
  padding: 0;
  z-index: 1;
  background-color: #f0f2f1;
  padding: 75px 0; }
  #primary-content h2, #primary-content h4 {
    margin-bottom: 20px; }
  #primary-content .container {
    /*padding: 0 8%;*/
    max-width: 900px; }
  #primary-content .wrapper {
    padding: 0;
    margin: 50px -15px;
    background-color: #ffffff; }
    #primary-content .wrapper h4 {
      color: #f4645f;
      margin: 20px 0;
      font-size: 24px;
      text-align: left; }
    #primary-content .wrapper p {
      color: #80878c;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 15px; }
    #primary-content .wrapper .block {
      max-height: 225px;
      padding: 0;
      display: inline;
      border-bottom: 1px solid #dbdcdb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
      #primary-content .wrapper .block .text {
        padding: 40px; }
      #primary-content .wrapper .block .media {
        max-height: 225px;
        margin: 0; }
        #primary-content .wrapper .block .media img {
          margin: 20px;
          z-index: -30; }
    @media screen and (min-width: 768px) {
      #primary-content .wrapper .inverted .text {
        left: 41.66667%; }
      #primary-content .wrapper .inverted .media {
        padding-left: 0;
        right: 58.33333%; }
        #primary-content .wrapper .inverted .media img {
          margin-left: 0; }
      #primary-content .wrapper .media {
        padding: 20px; } }

#secondary-content {
  background-image: url("../assets/asset3.png");
  background-repeat: no-repeat;
  background-position: top;
  padding: 150px 0px 50px; }
  #secondary-content .container {
    max-width: 1080px;
    /*margin: 0;*/ }
    #secondary-content .container h2, #secondary-content .container h4 {
      margin-bottom: 20px; }
    #secondary-content .container h4 {
      margin-top: 10px; }
    #secondary-content .container .forge {
      margin: 0 15px;
      color: #ffffff;
      margin-top: 40px;
      margin-bottom: 60px;
      max-width: 1080px;
      background-image: url("../assets/asset4.jpeg");
      background-repeat: no-repeat;
      padding: 20px;
      /*margin: 20px;*/ }
      #secondary-content .container .forge .overlay {
        display: table;
        padding: 0; }
        #secondary-content .container .forge .overlay .media {
          margin: 10px 0;
          float: right; }
        #secondary-content .container .forge .overlay .text {
          margin-top: 10%;
          float: left; }
          #secondary-content .container .forge .overlay .text p {
            margin-bottom: 20px;
            font-size: 17px; }
          #secondary-content .container .forge .overlay .text svg {
            margin-bottom: 30px; }
        @media screen and (max-width: 800px) {
          #secondary-content .container .forge .overlay img {
            display: none; }
          #secondary-content .container .forge .overlay .text {
            width: 100%; } }
    #secondary-content .container .thirds {
      margin: 0 15px;
      padding: 0;
      font-family: "Source Sans Pro", sans-serif; }
      #secondary-content .container .thirds .third#two {
        background-color: #27b4a8; }
        #secondary-content .container .thirds .third#two:hover {
          background-color: #23a297; }
      #secondary-content .container .thirds .third#one, #secondary-content .container .thirds .third#three {
        background-color: #f4645f; }
        #secondary-content .container .thirds .third#one:hover, #secondary-content .container .thirds .third#three:hover {
          background-color: #dc5a56; }
      #secondary-content .container .thirds .third {
        padding: 0;
        margin: 0 1% 30px;
        color: #ffffff; }
        #secondary-content .container .thirds .third:hover {
          text-decoration: none; }
        @media screen and (min-width: 800px) {
          #secondary-content .container .thirds .third {
            max-width: 31.33333%; } }
        @media screen and (max-width: 800px) {
          #secondary-content .container .thirds .third {
            width: auto; } }
        #secondary-content .container .thirds .third .third-head .third-title {
          padding: 15px 30px;
          font-size: 24px;
          font-weight: 200; }
        #secondary-content .container .thirds .third .third-body {
          font-size: 16px;
          padding: 15px 30px;
          background-color: rgba(255, 255, 255, 0.1);
          height: 100%; }

.package {
  padding: 0;
  margin-bottom: 30px; }
  .package .col-sm-1 {
    width: 4.16667%;
    padding: 0; }
    .package .col-sm-1 svg {
      margin: 10% 0 0 40%; }
  .package .col-sm-11 {
    width: 95.83333%;
    line-height: 24px;
    font-size: 15px;
    padding: 0;
    color: #6d7986; }
    .package .col-sm-11 a {
      font-size: 21px;
      margin-bottom: 5px;
      color: #444444; }

@media screen and (max-width: 768px) {
  #secondary-content .col-sm-4, #secondary-content .col-xs-12 {
    border: none; }
  #secondary-content .package {
    border-bottom: 1px solid #f0f1f3;
    padding-bottom: 15px; }
    #secondary-content .package:last-child {
      border-bottom: none; } }
@media screen and (min-width: 768px) {
  #secondary-content .col-sm-4, #secondary-content .col-xs-12 {
    border-right: 2px solid #f0f1f3; }
    #secondary-content .col-sm-4:last-child, #secondary-content .col-xs-12:last-child {
      border-right: none; }
  #secondary-content .package {
    border: none; } }
.packages.col-sm-4 {
  border-right: 2px solid #f0f1f3; }
  .packages.col-sm-4:last-child {
    border-right: none; }
  @media screen and (max-width: 800px) {
    .packages.col-sm-4 {
      width: 100%; } }
  @media screen and (min-width: 800px) {
    .packages.col-sm-4 {
      width: 31.33333%; } }

footer {
  min-height: 100%;
  padding: 35px 20px;
  background-color: #fafafa;
  text-align: center; }
  footer .navbar-nav {
    width: auto;
    margin: 25px auto 35px;
    float: none; }
    footer .navbar-nav li {
      display: inline;
      float: none; }
  footer p {
    text-transform: uppercase;
    font-family: "Miriam Libre", "Source Sans Pro", sans-serif;
    color: #aeaeae;
    font-size: 12px;
    letter-spacing: 2px; }
    footer p a {
      color: #AEAEAE;
      display: inline-block;
      font-size: 10px;
      margin: 25px 0 0; }
      footer p a svg {
        margin-top: 3px; }
      footer p a:hover {
        color: #AEAEAE;
        text-decoration: none; }
        footer p a:hover svg path {
          fill: #f4645f; }

/*# sourceMappingURL=style.css.map */
