@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
@import '../bootstrap/css/bootstrap.css';

$font-primary: "Miriam Libre", "Source Sans Pro", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

$line-color: #dee0df;
$color-main: #f4645f;
$color-secondary: #444444;
$color-title: #525252;
$color-sub-title: #aeaeae;
$color-logo: #e74430;
$color-border-features: #e5e5e5;
$color-background-primary: #ffffff;
$color-background-secondary: #f0f2f1;
$color-text-1: #80878c;
$color-third: #27b4a8;
$color-lines: #f0f1f3;

$single-column-width: 100%/12;


.title{
  text-align: center;
  /*margin-left: $single-column-width * 1.5;*/
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}


body{
  margin: 0;
  padding-top: 10px;
  background-image: url("../assets/asset2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-color: $color-background-primary;
  font-family: $font-secondary;
}

h2 {
  font-family: $font-secondary;
  font-size: 48px;
  font-weight: 200;
  color: $color-title;
  text-align: center;
}

h3 {
  font-family: $font-secondary;
  font-size: 26px;
  color: $color-secondary;
  font-weight: 300;
}

h4 {
  font-family: $font-primary;
  font-size: 21px;
  font-weight: 400;
  margin: 10px 0 60px 0;
  color: $color-sub-title;
  text-align: center;
}

.divisor h6{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid $line-color;
  line-height: 0.2em;
  margin: 60px 0;

  span {
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 200;
    padding: 0 10px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-main;
    background-color: white;
  }

}

container {
  padding: 20px 0;
}


nav {
  height: 80px;
  width: 100%;
  font-size: 16px;
  align-items: center;
  line-height: 80px;
  font-family: $font-primary;
  box-sizing: border-box;
  border-bottom: 1px solid $line-color;

  .logo {
    /*width: $single-column-width * 1.5;*/
    max-width: 180px;
    min-width: 150px;
    text-align: center;
    border-right: 1px solid $line-color;
    font-size: 18px;
    color: $color-logo;
    float: left;
    padding: 0;
    position: relative;
    display: inline;

    h1 {
      font-size: 18px;
      vertical-align: middle;
      text-align: start;
      display: inline;


    }

    svg {
      height: 32px;
      width: 48px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline;
    }

    @media screen and (max-width: 660px){
      h1 {
        display: none;
      }

      min-width: 90px;
    }
  }

  .search {
    padding: 0;
    position: relative;
    display: inline;
    /*float: left;*/
    border-right: 1px solid $line-color;

    input {
      font-family: $font-secondary;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      line-height: 78px;
      padding: 0 30px;

      &:focus{
        outline: none;
      }
    }

    svg {
      margin: 0 15px;
      @media screen and (max-width: 1200px){
        display: none;
      }
    }
    @media screen and (min-width: 960px) {
      /*margin: 0;*/
    }
    @media screen and (max-width: 960px){
      width: auto;

      .navbar-toggle {

        display: inline;
      }
    }
  }
}

.no-padding {
  float: right;
  padding: 0;
}

.navigation {
  max-width: 745px;
  min-width: 671px;
  height: 100%;

  @media screen and (max-width: 960px){
    display: none;
  }
}

.navbar-toggle {
  background-color: $color-main;

  &:hover{
    background-color: #e74430;
  }

  .icon-bar {
    background-color: white;
  }
}

.navbar-nav {
  /*width: 100%;*/
  list-style: none;
  padding: 0 ;
  height: 100%;



  /*.navbar-right {
    /*height: 100%;*/

    li{
      height: 100%;
      /*display: inline;*/
      margin: 0 1.5%;
      /*align-items: center;
      /*padding: 0 1.5%;*/

      a {
        height: 100%;
        font-size: 15px;
        color: $color-title;
        /*text-align: left;*/
        display: inline;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        vertical-align: middle;
        padding: 28px 10px;

        &:hover, &:visited, &:active, &:focus{
          color: $color-main;
          background-color: transparent;
        }

        &:hover{
          border-bottom: 3px solid $color-main;
        }
    }

  }

  @media screen and (max-width: 1050px){
    .navbar-collapse {
      padding: 0;
      li a {
        font-size: 14px;
      }
    }
  }
}

.open {
  a, a:focus{
    color: $color-main;
    background-color: transparent;.
    border-bottom: 3px solid $color-main;
  }
}

.dropdown-menu {
  margin-top: 2px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  font-size: 14px;
  padding: 5px 1px;

  ul {

    li{
      list-style: none;
      line-height: normal;
      margin: 0;
      a{
        clear: both;
        font-weight: 400;
        color: #333;

        margin: 0;
        padding: 3px 20px;

        &:hover {
          text-decoration: none;
          color: #262626;
          background-color: #f5f5f5;
          border: none;
        }
      }
    }
  }
}

#hero{
  .container{
    max-width: 1080px;

  }
  padding: 60px 0;
  text-align: left;

  h2{
    margin: 32px 0;
  }

  .window{
    .col-xs-12{
      overflow: hidden;
      margin: 0 40px;
    }

    img {
      display: block;
      /*margin: 0 20px;*/
      @media screen and (min-width: 805px){
        display: none;
      }
    }
  }

  .macbook{
    img {
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 805px){
        display: none;
      }
    }
    pre{
      /*z-index: -2;*/
      position: absolute;
      overflow: hidden;
      code{

        font-size: 13px;
      }
      height: 310px;
    }
    svg {
      background-color: transparent;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      @media screen and (max-width: 805px){
        display: none;
      }
    }
  }
}

#features{
  padding-bottom: 60px;




      .feature {
        margin: 0 11px 30px;
        padding: 15px 30px 20px;
        border: 2px solid $color-border-features;
        border-radius: 2px;
        /*display: ;*/
        font-family: $font-secondary;
        font-size: 17px;
        text-decoration: none;
        color: $color-secondary;

        &:hover {
          border: 2px solid transparent;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 7px 0;
        }

        @media screen and (max-width: 800px) {
          width: auto;
        }

        @media screen and (min-width: 800px) {
          width: ($single-column-width*4)-3%;
        }

        .feature-head {
          font-size: 18px;
          display: inline;
          padding: 0;
          margin: 0;

          .col-sm-2 {
            padding: 0;
          }

          h3 {

            max-width: 81%;
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
            padding-top: 10px;

          }

          svg {
            float: right;
          }
        }

        .feature-body{
          line-height: 27.2px;
          padding: 0;
          margin: 0;
        }

      }


}




#primary-content {
  padding: 0;z-index: 1;

  background-color: $color-background-secondary;
  padding: 75px 0;

  h2,h4{
    margin-bottom: 20px
  }

  .container {
    /*padding: 0 8%;*/
    max-width: 900px;
  }

  .wrapper{
    padding: 0;
    margin: 50px -15px;


    background-color: $color-background-primary;

    h4{
      color: $color-main;
      margin: 20px 0;
      font-size: 24px;
      text-align: left;

    }
    p {
      color: $color-text-1;
      font-family: $font-secondary;
      font-size: 15px;

    }

    .block{
      max-height: 225px;
      padding: 0;
      display: inline;
      border-bottom: 1px solid #dbdcdb;
      box-shadow: 0 1px 4px rgba(0,0,0,.2);

      .text{
        padding: 40px;


      }
      .media {
        max-height: 225px;

        margin: 0;
        img{
          margin: 20px;
          z-index: -30;
        }
      }
    }

    @media screen and (min-width: 768px){
      .inverted {
        .text {
          left: $single-column-width*5;
        }
        .media {
          padding-left: 0;
          right: $single-column-width*7;
          img{
            margin-left: 0;
          }
        }
      }
      .media {
        padding: 20px;
      }
    }
  }
}

#secondary-content{
  background-image: url("../assets/asset3.png");
  background-repeat: no-repeat;
  background-position: top;


  padding: 150px 0px 50px;
  .container{
    max-width: 1080px;
    /*margin: 0;*/

    h2, h4 {
      margin-bottom: 20px;
    }
    h4{
      margin-top: 10px;
    }

    .forge {
      margin: 0 15px;
      color: $color-background-primary;
      margin-top: 40px;
      margin-bottom: 60px;
      max-width: 1080px;
      background-image: url("../assets/asset4.jpeg");
      background-repeat: no-repeat;
      padding: 20px;
      /*margin: 20px;*/



      .overlay {
        display: table;
        padding: 0;

        .media {
          margin: 10px 0;
          float: right;
        }
        .text {
          margin-top: 10%;
          float: left;
          p {
            margin-bottom: 20px;
            font-size: 17px;
          }
          svg {
            margin-bottom: 30px;
          }
        }

        @media screen and (max-width: 800px){
          img {
            display: none;
          }
          .text {
            width: 100%;
          }
        }
      }



    }

    .thirds {
      margin: 0 15px;
      padding: 0;
      font-family: $font-secondary;
      .third#two{
        background-color: $color-third;
        &:hover {
          background-color: #23a297;
        }
      }

      .third#one, .third#three {
        background-color: $color-main;
        &:hover {
          background-color: #dc5a56;
        }
      }

      .third {
        padding: 0;

        margin: 0 1% 30px;
        color: $color-background-primary;

        &:hover{
          text-decoration: none;
        }

        @media screen and (min-width: 800px){
          max-width: ($single-column-width*4)-2%;
        }

        @media screen and (max-width: 800px){
          width: auto;
        }

        .third-head {

          .third-title{
            padding: 15px 30px;
            font-size: 24px;
            font-weight: 200;
          }
        }
        .third-body {
          font-size: 16px;
          padding: 15px 30px;
          background-color: rgba(255,255,255,.1);
          height: 100%;
        }
      }


    }
  }


}

.package {
  padding: 0;
  margin-bottom: 30px;
  .col-sm-1 {
    width: $single-column-width * 0.5;
    padding: 0;
    svg {
      margin: 10% 0 0 40%;
    }
  }
  .col-sm-11 {
    width: $single-column-width * 11.5;
    line-height: 24px;
    font-size: 15px;
    padding: 0;
    color: #6d7986;
    a {
      font-size: 21px;
      margin-bottom: 5px;
      color: #444444;
    }
  }
}



@media screen and (max-width: 768px) {
  #secondary-content {
    .col-sm-4, .col-xs-12 {
      border: none;
    }
    .package {
        border-bottom: 1px solid $color-lines;
        padding-bottom: 15px;
        &:last-child {
          border-bottom: none;

        }

    }
  }

}

@media screen and (min-width: 768px) {
  #secondary-content {
    .col-sm-4, .col-xs-12 {
        border-right: 2px solid $color-lines;
        &:last-child {
          border-right: none;

        }

    }

    .package {
      border: none;
    }
  }
}

.packages.col-sm-4 {

  border-right: 2px solid $color-lines;
  &:last-child {
    border-right: none;

  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  @media screen and (min-width: 800px) {
    width: ($single-column-width*4)-2%;
  }
}


footer{

  min-height: 100%;
  padding: 35px 20px;
  background-color: #fafafa;
  text-align: center;

  .navbar-nav {
    width: auto;
    margin: 25px auto 35px;
    float: none;


    li{
      display: inline;
      float: none;
    }
  }

  p {
    text-transform: uppercase;
    font-family: $font-primary;
    color: #aeaeae;
    font-size: 12px;
    letter-spacing: 2px;

    a {
      color: #AEAEAE;
      display: inline-block;
      font-size: 10px;
      margin: 25px 0 0;

      svg {
          margin-top: 3px;
      }

      &:hover {
        color: #AEAEAE;
        text-decoration: none;

        svg path {
          fill: #f4645f;
        }
      }
    }
  }

}
